<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target name = "LOGAPI"
     xsi:type = "File"
     fileName = "${basedir}/Log/${date:format =yyyyMMdd}/LOGAPI/Info.txt"
     layout = "${longdate} | ${level:uppercase = true} | ${event-context:item=url} | ${event-context:item=data} | ${event-context:item=Message} ${newline}" encoding = "utf-8"/>

    <target name = "LOGBrowse"
     xsi:type = "File"
     fileName = "${basedir}/Log/${date:format =yyyyMMdd}/LOGBrowse/Info.txt"
     layout = "${longdate} | ${level:uppercase = true} | ${event-context:item=url} | ${event-context:item=data} | ${event-context:item=Message} ${newline}" encoding = "utf-8"/>
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name = "LOGAPI" levels = "Trace,Debug,Info,Warn,Error,Fatal" writeTo = "LOGAPI" />
    <logger name = "LOGBrowse" levels = "Trace,Debug,Info,Warn,Error,Fatal" writeTo = "LOGBrowse" />
  </rules>
</nlog>

